{% extends 'base.html' %}
{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('message') }}">Leave a Message</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('static', filename='ryanfogle_resume.pdf') }}" download>Download Resume</a>
    </li>
{% endblock navbar %}
{% block content %}
    {% for section in conf['sections'] %}
    <div class="container p-3 my-3 border">
        <h1 class="font-weight-bold">{{ section['title'] }}</h1>
        <p class="lead p-3">{{ section['body'] }}</p>
        <h5 class="font-weight-bold text-center">{{ section['pic_name'] }}</h5>
            <div class="justify-content-center">
                <a href="{{ section['pic_link'] }}">
                    <img src="{{ section['pic_url'] }}" alt="{{ section['pic_name'] }}" class="square mx-auto d-block rounded"
                     data-toggle="tooltip" title="{{ section['pic_tooltip'] }}">
                </a>
            </div>
    </div>
    {% endfor %}
{% endblock content %}