{% extends 'base.html' %}
{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('message') }}">Leave a Message</a>
    </li>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">

        <div class="col text-center align-items-center">
            <h1 class="font-weight-bold text-center pt-3">R+M</h1>
            <p class="font-weight-bold" id="clock">Loading counter...</p>
            <img src="{{ url_for('static', filename='images/Morgan.jpg') }}" class="application img-thumbnail p-1 m-1 img-responsive" alt="Pic of us :)">
            <p class="font-weight-bold">PS: I love you</p>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    setInterval(setAnniversary, 1000);
</script>
{% endblock scripts %}